

.box{
    width: 100%;
    background-color: aquamarine;
}

input{
    border-radius: 4px;
}

.btnLogin{
    height: 10%;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    background-color: darkkhaki;
}