/* Default styles for all screen sizes */
.box {
    width: 100%;
    background-color: aquamarine;
}

input {
    border-radius: 4px;
}

.btnLogin {
    height: 10%;
    margin-top: 20px; /* Adjusted margin for mobile */
    padding: 10px; /* Adjusted padding for mobile */
    border-radius: 5px;
    background-color: darkkhaki;
}

.btnCad {
    padding: 7px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: goldenrod;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6ab5ee;
}

.boxLogin {
    background-color: #254969;
    width: 80%; /* Adjusted width for mobile */
    max-width: 400px; /* Set a maximum width for larger screens */
    height: auto; /* Adjusted height for mobile */
    border: 1px solid black;
    color: white;
    border-radius: 10px;
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
    .btnLogin {
        height: auto; /* Adjusted height for mobile */
        margin-top: 20px; /* Adjusted margin for mobile */
    }

    .boxLogin {
        width: 80%; /* Adjusted width for mobile */
        max-width: 100%; /* Full width for smaller screens */
    }
}
@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        height: 80%;
    }
}